body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6,form, input, button,textarea, p, th, td {margin: 0;padding: 0;}
ul,li{list-style: none;}
html,body{height: 100%;}
body{font-family: MTD, '微软雅黑';}
img{vertical-align: top;}
a{cursor: pointer;outline: none;text-decoration: none;}
input{outline: none;}
/* common */
.left{float: left;}
.right{float: right;}
.bg-gray{background-color: #f2f2f2;}
.hidden{overflow: hidden;}
.relative{position: relative;}
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
.clearfix{zoom:1;}
.center{text-align: center;}
/* margin */
.mt20{margin-top: 20px;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}
.mb15{margin-bottom: 15px;}
/* padding */
.p0_17{padding: 0 17px;}
.pt20{padding-top: 20px;}
.pt15{padding-top: 15px;}
.p10_0{padding: 10px 0;}
/* .border-radius */
.border-radius5{-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px; border-radius: 5px;}
/* input */
.input-230{width: 210px;padding: 0 10px; height: 28px;border: solid 1px #201300;margin-right:19px; }
/* layout */
.container{width: 1200px;margin: 0 auto;}
.main{width: 1080px;margin: 0 auto;padding-bottom: 119px;}
.col-left{width:726px;float: left;}
.col-right{width:338px;float: right;}
/* index-header */
.index-logo{position: relative;}
.index-logo .container{position: absolute;top: 0;margin-left: -600px;left: 50%;z-index:1;height: 100%;}
.header-search{position: absolute;right: 135px;bottom:30px;}
.header-search li{overflow: hidden;margin-top: 30px;}
.btn-search{display: block; width: 54px;height: 28px;line-height: 28px; background-color:#aa1f23;font-size: 18px;text-align: center;color: #fff;margin-top: 1px;}
.login-bar{background-color:rgba(54, 38, 16, .2);width:108px;height: 28px;line-height: 28px; text-align: center;font-size: 16px;color: #390002;display:block;overflow: hidden;}
.login-bar a{margin: 0 6px;display: inline-block;color: #390002;}
/* navbar */
.navbar{height: 42px;background: #8a090e url(../img/navbar.jpg) repeat-x left;}
.navbar ul{overflow: hidden;}
.navbar ul li{float: left;margin: 0 1px;}
.navbar ul li a{display:block;width: 115px;line-height: 42px;text-align: center;font-size: 18px;color: #fff;}
.navbar ul li a.current{background-color:rgba(0, 0, 0, .26); }
.banner{height: 350px;overflow: hidden;}
.banner-photo,.section-focus-pic .pages{width:726px;height: 350px;}
.section-focus-pic{height:100%;width:100%;overflow:hidden;position:relative;}
.section-focus-pic ul li{position:absolute;top:0;left:726px;width:726px;height:350px;}
.section-focus-pic ul li img{width: 726px;height: 350px;}
.section-focus-pic ul li a{color: #fff;}
.section-focus-pic ul li h3{position:absolute;bottom:11px;left:0;right: 90px; font-weight:normal;color:#FFF;margin-left: 25px;z-index: 111;font-size: 18px;font-weight: bold;}
.section-focus-pic ul li div{position:absolute;bottom:0;left:0;height:46px;background-color:#000;width:100%;opacity: 0.54;filter: alpha(opacity=54);}
.section-focus-pic .controler{position:absolute;bottom:20px;right:25px;}
.section-focus-pic .controler b{cursor:pointer;width:8px;height:8px;display:block;overflow:hidden; float:left;margin:0 0 0 10px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%; background-color: rgba(255, 255, 255, .6);text-indent: 20px;}
.section-focus-pic .controler b.down{background-color: rgba(255, 255, 255, 1)}
.section-focus-pic .controler2 a{display:block; width:40px;position:absolute;top:120px;height:40px;}
.section-focus-pic .controler2 a i{cursor:pointer;display:block;width:22px;height:34px; background:url(../img/star.png) no-repeat;}
.section-focus-pic .controler2 .prev{left:5px;}
.section-focus-pic .controler2 .prev i{background-position:-34px -68px;margin-left:5px;}
.section-focus-pic .controler2 .prev:hover i{left:10px;background-position:-34px -24px;}
.section-focus-pic .controler2 .next{right:10px;}
.section-focus-pic .controler2 .next i{background-position:-62px -68px;margin-left:10px;}
.section-focus-pic .controler2 .next:hover i{right:10px;background-position:-62px -24px;}
/* banner-news */
.banner-news{width:338px;height: 350px;}
.news-title{height: 48px;line-height: 48px; border-bottom: solid 2px #fff;overflow: hidden;}
.news-title strong{border-bottom: solid 2px #b22c30;font-size: 18px;font-weight: bold;margin-bottom: -2px; display:block;float: left;}
.news-title a,.news-title-lg a{font-size:12px;color:#8f8f8f;float: right;}
.news-list li{line-height: 18px;margin-bottom: 16px;overflow: hidden;}
.news-list span{font-size: 12px;color: #8f8f8f;padding: 0 18px 0 5px;float: left;}
.news-list a{font-size: 16px;font-weight: bold;color: #353535;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:243px; display: block;float: left;}
/* left news */
.news-title-lg{height: 48px;line-height: 48px; border-bottom: solid 2px #eaeaea;overflow: hidden;}
.news-title-lg strong{color: #272727;font-size: 20px;font-weight: bold;float: left;}
.col-left-list{width: 726px;overflow: hidden;padding-top: 23px;}
.news-title-lg img{vertical-align: middle;margin: 15px 12px 0 0;}
.news-list-lg {width:750px;overflow: hidden; }
.news-list-lg li{width: 350px;float:left;margin-right: 25px;padding-bottom: 15px;border-bottom:dashed 1px #eaeaea;margin-bottom: 18px;}
.news-list-lg li:last-child,.news-list-lg li:nth-last-of-type(2){border-bottom-color: transparent;}
.news-list-lg li h4{margin-top: 17px;color: #101010;font-size: 16px;font-weight: bold;}
.news-list-lg li p{line-height: 25px;color: #7a7a7a;font-size: 14px;font-weight: bold;margin-top: 7px;height: 75px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-webkit-text-overflow: ellipsis;-moz-text-overflow: ellipsis;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical; }
/* index video */
.video dl{padding: 23px 15px 0 0;}
.video dt{width: 350px;height: 209px;float: left;margin-right: 20px;}
.video dd h4{color: #101010;font-size: 16px;font-weight: bold;padding: 12px 0 22px;}
.video dd p{color: #7a7a7a;font-size: 14px;font-weight: bold;line-height: 25px;text-align: justify;height: 150px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-webkit-text-overflow: ellipsis;-moz-text-overflow: ellipsis;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;}
/* footer */
.footer{height: 200px;background-color: #333;}
.footer-icon-left{position: absolute;z-index: 1;top: 0;left: -49px;}
.footer-icon-right{position: absolute;z-index: 1;top: 0;right: -42px;}
.footer ul{height: 170px;background:url(../img/footer-logo.gif) no-repeat left center;position: absolute;top: 0;left: 200px;z-index: 2;padding:30px 0 0 250px;font-size: 12px;color: #999;line-height: 30px;}
.footer ul a{color: #999;}
.footer .ewm{position: absolute;top: 47px;right: 80px;z-index: 2;font-size: 12px;color: #999;width:190px; }
.footer .ewm img{vertical-align: middle;margin-right: 25px;}
/* zhiku cheng guo */
.zkcg-list{padding: 6px 0 2px;}
.zkcg-list li{overflow: hidden;padding:12px 0;border-bottom: solid 1px #eaeaea;}
.zkcg-list li:last-child{border-bottom-color:transparent; }
.zkcg-list li img{width: 98px;height: 68px;margin-right: 10px;}
.zkcg-list li h4{font-size: 16px;font-weight: bold;color: #353535;line-height: 24px;height: 48px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-webkit-text-overflow: ellipsis;-moz-text-overflow: ellipsis;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.zkcg-list li h4 a{color: #353535;}
.zkcg-list li p{font-size: 12px;font-weight: bold;color: #8f8f8f;padding-top: 3px;}
/* adv Tpp */
.tpp{margin: 18px 0 16px;}
/* database */
.dataBase{height: 432px;overflow: hidden;}
.base-title{overflow: hidden;padding: 16px 0;}
.base-title li{float: left;width: 25%;height: 28px;line-height: 28px;}
.base-title li a{display: block;width: 57px;height: 28px;font-size: 12px;color: #444;font-weight: bold;text-align: center;}
.base-title li a.current{color: #fff;background-color: #8a090e;}
.base-sort{position: absolute;top: 0;left: 0;}
.base-sort ul{padding: 0 8px;float: left;font-size: 14px;line-height: 14px; color: #444;font-weight: bold;}
.base-sort ul li{text-align: center;height: 23.5px;}
.base-sort ul li a{color: #444;}
.base-content{padding-left: 69px;}
.base-result{border:solid 1px #e4e4e4;background-color: #fff;padding: 8px 0 0 22px;height: 288px;overflow: auto;}
.base-result li{width: 33.33%;float: left;height: 32px;}
.base-result li a{color: #989898;font-size: 16px;}
/* register */
.user-box{width: 900px;height: 606px;overflow: hidden; position:absolute;left: 50%;top: 50%;margin: -303px 0 0 -450px;}
.user-box .box-title{height: 65px;text-align: right;line-height: 55px;color: #484848;font-weight: bold;font-size: 14px;position: relative;}
.user-box .box-title img{position: absolute; top: 0;left: 0;}
.user-box .box-title a{color: #8a090e;}
.user-box p{font-size: 14px;font-weight: bold;color: #767676;line-height: 26px;margin-top:35px;text-align: center;}
.user-form{width: 900px;height: 430px;padding-bottom: 24px; -webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px; border-radius: 10px;background-color: #fff}
.user-form h3{height: 50px;line-height: 50px;text-align: center;background-color: #8a090e;color: #fff;font-weight: bold;font-size: 20px;border-top-left-radius: 10px;-webkit-border-top-left-radius: 10px;-moz-border-top-left-radius: 10px;-ms-border-top-left-radius: 10px;border-top-right-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-top-right-radius: 10px;-ms-border-top-right-radius: 10px;}
.submit{width: 128px;height: 40px;line-height: 40px; display:inline-block; background-color: #8a090e;color: #fff;font-weight: bold;font-size: 14px;text-align: center;}
.user-form ul{width: 415px;margin: 0 auto;padding-top: 40px;}
.user-form ul li{overflow: hidden;margin-bottom: 15px;}
.user-form ul li label{width: 80px;display:block;float: left;color: #1c1c1c;font-size: 14px;font-weight: bold;line-height: 40px;}
.user-form ul li input{height: 40px;width: 293px;border:solid 1px #d1d1d1;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px; border-radius: 3px;background-color: #f4f4f4;padding:0 20px;}
/* listContent */
.listContent{width: 1120px;margin: 42px auto 0;overflow: hidden;padding-bottom: 170px;}
.leftMenu{width: 229px;float: left;background-color: #f6f6f6;border: 1px solid #cdcdcd;border-bottom: 0;}
.leftMenu li{height: 48px;line-height: 48px;border-bottom:1px solid #cdcdcd;font-size: 14px;font-weight: bold;color: #242424;text-align: center;}
.leftMenu li a{color: #242424;display: block;}
.leftMenu li a.current{background-color: #e3e3e3;}
.listRight{width: 858px;float: right;}
.listNavbar{height: 48px;line-height: 48px; background: #f6f6f6 url(../img/arrow.png) no-repeat 26px 17px;border: 1px solid #cdcdcd;font-size: 14px;font-weight: bold;color: #242424;padding-left: 48px;}
.listNavbar a{color: #242424;}
.listRight ul {background: #f6f6f6;border: 1px solid #cdcdcd;padding: 28px 28px 0;margin: 20px 0 45px 0;}
.listRight ul li{height: 46px;overflow: hidden;font-size: 14px;font-weight: bold;}
.listRight ul li a{display: block;float: left;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 570px;color: #242424;}
.listRight ul li span{display: block;float: right;color: #8d8d8d;}
.pages{height: 48px;line-height: 48px; background: #f6f6f6;border: 1px solid #cdcdcd;padding: 0 48px;}
.pages a{display: inline-block;color: #242424;font-size: 14px;font-weight: bold;margin: 0 14px;}
.pages a.curr{color: #8a090e;}
.current-nav{width: 1150px;padding: 35px 0;margin:0 auto 10px;font-size: 16px;font-weight: bold;color: #818181;}
.current-nav a{color: #818181;}
.listContent-details{width: 1080px;margin: 0 auto;}
.listContent-details .article{width: 740px;float: left;}
.Recommend{width: 296px;float: right;}
.Recommend .recList{background-color: #f6f6f6;border: 1px solid #cdcdcd;margin-bottom: 40px;}
.Recommend .recList h3{height: 42px;line-height: 42px; border-bottom: 1px dashed #cdcdcd;padding-left: 24px;font-size: 14px;color: #242424;font-weight: bold;}
.Recommend .recList ul{padding:15px 18px 10px;}
.Recommend .recList ul li{height:33px;}
.Recommend .recList ul li a{color:#5d5d5d;font-weight: bold;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 258px;display: inline-block;}